@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Stwórz nowe konto.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address.Street"></label>
                <input asp-for="Input.Address.Street" class="form-control" />
                <span asp-validation-for="Input.Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address.City"></label>
                <input asp-for="Input.Address.City" class="form-control" />
                <span asp-validation-for="Input.Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address.ZipCode"></label>
                <input asp-for="Input.Address.ZipCode" class="form-control" />
                <span asp-validation-for="Input.Address.ZipCode" class="text-danger"></span>
            </div>

            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "text1",
                    Value = "value1",
                    Selected = true
                });
                listItems.Add(new SelectListItem
                {
                    Text = "text2",
                    Value = "value2"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "text3",
                    Value = "value3"
                });
            }

            <div class="form-group">
                <label asp-for="Input.Education"></label>
                <select asp-for="Input.Education"
                        asp-items="@(listItems)" class="form-control">
                    <option>Proszę wybrać jedno z dostępnych:</option>
                </select>
                <span asp-validation-for="Input.Education" class="text-danger"></span>
                @*@Html.DropDownList("dropName", listItems, "dropNameLabel", new { @class = "form-control" })*@
            </div>

            <div class="form-group">
                <label asp-for="Input.Hobbies"></label>
                <input asp-for="Input.Hobbies" class="form-control" />
                <span asp-validation-for="Input.Hobbies" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Zarejestruj się</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
