
section {
    width: 1200px;
    height: 100%;
    padding-bottom: 500px;
}

.ItemDetails {
    width: 1000px;
    margin-bottom: 100px;
    float: left;
}

    .ItemDetails .Preview {
        width: 400px;
        height: 400px;
        float: left;
    }

        .ItemDetails .Preview img {
            width: 400px;
            height: 400px;
            border: 2px solid;
        }

    .ItemDetails .Description {
        float: left;
        width: 600px;
        padding: 20px;
        height: 100%;
    }

        .ItemDetails .Description .Price {
            font-weight: bold;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }


.ShopItemsList {
    display: block;
    position: relative;
    grid-template-columns: auto 250px 250px 250px auto;
    grid-template-rows: auto;
    height: 110%;
}

    .ShopItemsList .ShopItem {
        width: 20%;
        height: 250px;
        margin-right: 5%;
        margin-bottom: 30px;
        text-align: center;
        float: left;
        position: relative;
    }


        .ShopItemsList .ShopItem img {
            width: 250px;
            height: 250px;
            display: block;
        }


.Suggestions {
    clear: both;
}

    .Suggestions .ShopItem {
        margin-right: 5%;
        width: 15%;
    }

        .Suggestions .ShopItem img {
            width: 200px;
            height: 200px;
            display: block;
        }

        .Suggestions .ShopItem :last-of-type {
            margin-right: 0;
        }
